<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>

  <tbody>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <% @products.each do |product| %>
      <tr>
        <%= render 'product', product: product %>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Product', new_product_path) if current_user %>
