Thanks for your purchase!
<hr>
<%= "Paid with #{@payment_info['last4']} (#{@payment_info['brand']})" %>
<br>
A receipt will be sent to <%= "email" %>
<br>
<p>
  Product:
  <%= render 'product', product: @product %>
</p>

<hr>
<%= link_to 'Back', products_path %>
